.dbc .Select-control {
  background-color: #000000;
  color: white;
  border: none;
}

.dbc .Select-menu-outer {
  background-color: #222;
  border: 1px solid #444;
}

.dbc .Select-option {
  background-color: #222;
  color: white;
}

.dbc .Select-option.is-focused {
  background-color: #444;
}

.dbc .Select-value-label {
  color: white !important;
}